* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
.portfoliotitle {
  color: white;
  font-size: 50px;
  text-align: center;
 padding-bottom: 20px;
}
.port{
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/*SUSSEX*/
.onesus{

  background-image: url(./images/freyax.png);
}
.twosus {
  background-image: url(./images/elarax.png);
  background-position: 0px -180px;
}
.threesus {
  background-image: url(./images/lunax.png);

}
.foursus {
  background-image: url(./images/lilyx.png);
  background-position: -20px 0px;
}
.fivesus {
  background-image: url(./images/bumblex.png);

}
.sixsus {
  background-image: url(./images/chuckx.png);

}
.sevensus {
  background-image: url(./images/cookiex.png);

}
.eightsus {
  background-image: url(./images/darlax.png);

}
.ninesus {
  background-image: url(./images/figgyx.png);

}
.tensus {
  background-image: url(./images/freyadx.png);
  background-position: 0px -60px;
}
.elevensus {
  background-image: url(./images/hectors2.png);
  background-position: 0px -40px;
}
.twelvesus {
  background-image: url(./images/jackx.png);

}
.thirteensus {
  background-image: url(./images/maggieyx.png);
  background-position: -30px 0px;
}.fourteensus {
  background-image: url(./images/mollyx.png);

}
.fifteensus {
  background-image: url(./images/montyx.png);

}
.sixteensus {
  background-image: url(./images/nalax.png);

}
.seventeensus {
  background-image: url(./images/paddyx.png);

}
.eighteensus {
  background-image: url(./images/rosies2.png);

}
.nineteensus {
  background-image: url(./images/rubyx.png);

}
.twentysus {
  background-image: url(./images/tollox.png);

}
.twentyonesus {
  background-image: url(./images/blossoms.png);

}
.twentytwosus {
  background-image: url(./images/millies.png);
  background-position: -30px 0px;
}
.twentythreesus {
  background-image: url(./images/willows.png);

}
.twentyfoursus {
  background-image: url(./images/rabbits.png);
  background-position: 0px -130px;
}
.twentyfivesus {
  background-image: url(./images/wilsons.png);
  background-position: -30px 0px;
}
.twentysixsus {
  background-image: url(./images/luthers.png);

}
.twentysevensus {
  background-image: url(./images/gretas.png);

}
.twentyeightsus {
  background-image: url(./images/milos.png);

}
.twentyninesus {
  background-image: url(./images/barnies.png);

}
.thirtysus {
  background-image: url(./images/pennys.png);
  background-position: 0px -85px;
}
.thirtyonesus {
  background-image: url(./images/dester.png);
 
}
.thirtytwosus {
  background-image: url(./images/maggiebs.png);
  background-position: 0px -60px;
}
.thirtythreesus {
  background-image: url(./images/gino.png);
 
}.thirtyfoursus {
  background-image: url(./images/daisy.png);
 
}.thirtyfivesus {
  background-image: url(./images/ralph.png);
  background-position: 0px -70px;
 
}.thirtysixsus {
  background-image: url(./images/izzie.png);
 
 
}.thirtysevensus {
  background-image: url(./images/willow.png);
  
 
}.thirtyeightsus {
  background-image: url(./images/remus.png);
 
}
.thirtyninesus {
  background-image: url(./images/ellie.png);
 
}
.fourtysus {
  background-image: url(./images/izzy.png);
 
}
.fourtyonesus {
  background-image: url(./images/eddy.png);
 
}.fourtytwosus {
  background-image: url(./images/maisie.png);
 
}.fourtythreesus {
  background-image: url(./images/archiem.png);
  background-position: 0px -70px;
 
}.fourtyfoursus {
  background-image: url(./images/trooper.png);
 
}.fourtyfivesus {
  background-image: url(./images/storm.png);
  background-position: -20px 0px;
 
}
.fourtysixsus {
  background-image: url(./images/archie.png);
 
}
.fourtysevensus {
  background-image: url(./images/rambo.png);
 
}
.fourtyeightsus {
  background-image: url(./images/toffee.png);
 
}
.fourtyninesus {
  background-image: url(./images/dora.png);
 
}
.fiftysus {
  background-image: url(./images/clover.png);
 
}
.fiftyonesus {
  background-image: url(./images/scout.png);
 
}
.fiftytwosus {
  background-image: url(./images/maggiep.png);
 
}
.fiftythreesus {
  background-image: url(./images/purdy.png);
 
}

.fiftyfoursus {
  background-image: url(./images/miller.png);
 
}
.fiftyfivesus {
  background-image: url(./images/rhea.png);
 
}
.fiftysixsus {
  background-image: url(./images/lexi.png);
 
}
/*SOMERSET*/
.onesom{
  background-image: url(./images/alans.png);
  background-position: -10px 0px;
}
.twosom{
  background-image: url(./images/bettys.png);
}
.threesom{
  background-image: url(./images/coopers.png);
  background-position: 0px -120px;
}
.foursom{
  background-image: url(./images/dexters.png);
  background-position: -20px 0px;
}
.fivesom{
  background-image: url(./images/apollos.png);
  background-position: 0px -30px;
}
.sixsom{
  background-image: url(./images/blues.png);
  background-position: -30px 0px;
}
.sevensom{
  background-image: url(./images/cat.png);
  background-position: -10px 0px;
}
.eightsom{
  background-image: url(./images/drums.png);
  background-position: 0px -30px;
}
.ninesom {
  background-image: url(./images/eevees2.png);
  background-position: -20px 0px;

}
.tensom {
  background-image: url(./images/gonzaless.png);
  background-position: -10px 0px;
 
}
.elevensom {
  background-image: url(./images/guss.png);
  background-position: 0px -80px;
}
.twelvesom {
  background-image: url(./images/jackjacks.png);

}
.thirteensom {
  background-image: url(./images/jims.png);
  background-position: -20px 0px;
}
.fourteensom {
  background-image: url(./images/jaspers.png);

}
.fifteensom {
  background-image: url(./images/mables.png);
  background-position: 0px -90px;

}
.sixteensom {
  background-image: url(./images/maggiesaus.png);
 
}
.seventeensom {
  background-image: url(./images/poppyjasp.png);
  background-position: 0px -140px;
}
.eighteensom {
  background-image: url(./images/maggiecurly.png);
  background-position: -40px 0px;
}
.nineteensom {
  background-image: url(./images/summers.png);
  background-position: 0px -110px;
}
.twentysom {
  background-image: url(./images/simbas.png);
  background-position: -20px 0px;

}
.twentyonesom {
  background-image: url(./images/poppytri.png);
 

}
.twentytwosom {
  background-image: url(./images/megs.png);
}
.twentythreesom {
  background-image: url(./images/maizes.png);

}
.twentyfoursom {
  background-image: url(./images/maxs.png);
  background-position: -30px 0px;
}
.twentyfivesom {
  background-image: url(./images/mias.png);
}
.twentysixsom {
  background-image: url(./images/maggiecat.png);
  background-position: -10px 0px;

}
.twentysevensom {
  background-image: url(./images/roccos2.png);
  background-position: 0px -20px;

}
.twentyeightsom {
  background-image: url(./images/tanks.png);
  background-position: -20px 0px;

}
.twentyninesom {
  background-image: url(./images/bailey.png);
 
}
.thirtysom {
  background-image: url(./images/briennes.png);
  background-position: -10px 0px;
}
.thirtyonesom {
  background-image: url(./images/benjis.png);
  background-position: -60px 0px;
 
}
.thirtytwosom {
  background-image: url(./images/florences.png);
  background-position: -20px 0px;
}
.thirtythreesom {
  background-image: url(./images/poppys.png);
  background-position: 0px -180px;
}
.thirtyfoursom {
  background-image: url(./images/milococks.png);
  background-position: 0px -120px;
}
.thirtyfivesom {
  background-image: url(./images/winnies.png);
   background-position: -20px 0px;
  
}
.thirtysixsom {
  background-image: url(./images/marleys.png);
}
.thirtysevensom {
  background-image: url(./images/darcies.png);
  background-position: 0px -60px;
}
.thirtyeightsom {
  background-image: url(./images/boys.png);
}




/* Main CSS */
.backgroundportfolio {
  background-color: #455763;
  margin-top: 50px;
  padding: 20px;
}
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
.masonry__padding {
  padding: 10px 20px;
}
.masonry {
  columns: 4;
  column-gap: 16px;
}

@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}
@media (max-width: 768px) {
  .masonry {
    columns: 1;
  }
}
.containerbg {
  background-color: #455763;
}
.grid {
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
}

.mt-auto {
  margin-top: auto;
}

.grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  width: 100%;
  border-radius: 0px;
}
.grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.grid__author {
  font-size: 14px;
  font-weight: 300;
}
.grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.grid__tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox .image {
  max-height: 80%;
  max-width: 80%;
  width: auto;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.lightbox a {
  font-family: "slick";
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  margin-right: 10px;
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.lightbox a:last-child {
  transform: rotate(-180deg) translateY(-50%);
  margin-right: 0px;
  margin-left: 10px;
  left: auto;
  right: 30px;
}

.closeButton {
  position: fixed;
  display: block;
  top: 40px !important;
  right: 7px;
  left: auto !important;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .lightbox {
    display: none !important;
  }
}
